**
!Dockerfile
!requirements.txt
!backend/
!backend/**
!dataset_kasirnusa/
!dataset_kasirnusa/**
!frontend/
!frontend/package.json
!frontend/package-lock.json
!frontend/index.html
!frontend/tsconfig.json
!frontend/vite.config.ts
!frontend/src/
!frontend/src/**
**/__pycache__
**/*.pyc
**/.env*
**/*.sqlite3*
